<body>
    <h1>"numeros primos"</h1>
    <head>

<div class = "contenedor">  
    <div id="row">
    <div id="rectangulo">2</div>
    <div id="rectangulo1">3</div>
    <div id="rectangulo2">5</div>
    <div id="rectangulo3">7</div>
    <div id="rectangulo4">13</div>
    <div id="rectangulo5">17</div>
    <div id="rectangulo6">19</div>
</div>
<div class="row">
    <div id="rectangulo7">23</div>
    <div id="rectangulo8">29</div>
    <div id="rectangulo9">31</div>
    <div id="rectangulo10">37</div>
    <div id="rectangulo11">41</div>
    <div id="rectangulo12">43</div>
    <div id="rectangulo13">47</div>
    <div id="rectangulo14">53</div>
</div>
<div class="row">
    <div id="rectangulo15">59</div>
    <div id="rectangulo16">61</div>
    <div id="rectangulo17">67</div>
    <div id="rectangulo18">71</div>
    <div id="rectangulo19">79</div>
    <div id="rectangulo20">83</div>
    <div id="rectangulo21">89</div>
    <div id="rectangulo22">97</div>
</div>
</div>
</head>
</body>
